target
logs
.idea
.svn
.depend
*.iml
*.7z*
*.rar*
services/src/test/java/com/maoding/FileServer/upload_test.txtdownload.txt
services/src/test/java/com/maoding/FileServer/卯丁协同设计用户操作手册.docx
services/src/test/java/com/maoding/FileServer/扩初jx-lm.dwg