<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maoding.Storage.Dao.StorageDao" >
    <select id="listRootNode" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO" parameterType="com.maoding.Storage.Dto.QueryNodeDTO">
        select root.* from maoding_storage_root root
        <where>
            <if test="userId != null">
                and (find_in_set(#{userId},root.user_id_list))
            </if>
        </where>
    </select>

    <select id="listSubNode" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO" parameterType="com.maoding.Storage.Dto.QueryNodeDTO">
        select node.*
            <choose>
                <when test="userId != null">
                    ,if((10>node.type_id or node.type_id=18) and (node.last_modify_user_id=#{userId}),0,1) as is_read_only
                </when>
                <otherwise>
                    ,1 as is_read_only
                </otherwise>
            </choose>
        from maoding_storage_node node
        <where>
            <if test="nodeId != null">
                and (node.pid = #{nodeId})
            </if>
        </where>
    </select>

    <select id="listAllNode" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO" parameterType="com.maoding.Storage.Dto.QueryNodeDTO">
        select node.*
            <choose>
                <when test="userId != null">
                    ,if((10>node.type_id or node.type_id=18) and (node.last_modify_user_id=#{userId}),0,1) as is_read_only
                </when>
                <otherwise>
                    ,1 as is_read_only
                </otherwise>
            </choose>
        from
            maoding_storage_node node
            inner join maoding_storage_root root
        <where>
            <if test="userId != null">
                and (find_in_set(#{userId},root.user_id_list))
            </if>
        </where>
        group by node.id
    </select>

    <select id="getNodeInfo" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO" parameterType="com.maoding.Storage.Dto.QueryNodeDTO">
        select node.*
            <choose>
                <when test="userId != null">
                    ,if((10>node.type_id or node.type_id=18) and (node.last_modify_user_id=#{userId}),0,1) as is_read_only
                </when>
                <otherwise>
                    ,1 as is_read_only
                </otherwise>
            </choose>
        from maoding_storage_node node
        <where>
            <if test="nodeId != null">
                and (node.id = #{nodeId})
            </if>
            <if test="path != null">
                and (node.path = #{path})
            </if>
        </where>
    </select>

    <select id="hasChild" resultType="java.lang.Boolean" parameterType="com.maoding.Storage.Dto.QueryNodeDTO">
        select 1 from maoding_storage_node node
        <where>
            <if test="nodeId != null">
                and (node.pid = #{nodeId})
            </if>
            <if test="path != null">
                and (node.path like concat(#{path},'/'))
            </if>
        </where>
        limit 1
    </select>

    <select id="hasRootChild" resultType="java.lang.Boolean" parameterType="com.maoding.Storage.Dto.QueryNodeDTO">
        select 1 from maoding_storage_root root
        <where>
            <if test="userId != null">
                and (find_in_set(#{userId},root.user_id_list))
            </if>
        </where>
        limit 1
    </select>


    <sql id="FileTables">
        maoding_storage_file file
        inner join maoding_storage node on (file.id = node.id)
        left join maoding_const cst on (node.type_id = cst.value_id)
        left join maoding_const fcst on (file.file_type_id = fcst.value_id)
    </sql>

    <sql id="FileTablesFixFilter">
        (file.deleted = 0) and (node.deleted = 0)
        and (cst.classic_id = 14) and (fcst.classic_id = 5)
    </sql>

    <sql id="FileNodeFixPtyListForFileTables">
        node.id
        ,node.node_name as name
        ,node.type_id as type_id
        ,cst.content as type_name
        ,node.pid as pid
        ,node.path as path
        ,unix_timestamp(ifnull(node.create_time,0)) as create_time_stamp
        ,date_format(ifnull(node.create_time,0),'%Y-%m-%d %T') as create_time_text
        ,unix_timestamp(ifnull(node.last_modify_time,0)) as last_modify_time_stamp
        ,date_format(ifnull(node.last_modify_time,0),'%Y-%m-%d %T') as last_modify_time_text
        ,node.last_modify_user_id as last_modify_user_id
        ,node.file_length as file_length
        ,node.path as full_name
        ,file.file_checksum
        ,file.file_version
        ,file.last_modify_address
        ,file.sync_mode_id
        ,file.file_type_id
        ,fcst.content as file_type_name
        ,node.last_modify_duty_id as creator_duty_id
        ,node.last_modify_user_id as owner_user_id
    </sql>


    <select id="getFileNodeInfo" resultType="com.maoding.Storage.zeroc.FileNodeDTO" parameterType="com.maoding.Storage.Dto.QueryNodeDTO">
        select <include refid="FileNodeFixPtyListForFileTables"/>
            <choose>
                <when test="userId != null">
                    ,if((10>node.type_id or node.type_id=18) and (node.last_modify_user_id=#{userId}),0,1) as is_read_only
                    ,file.file_server_type_id
                    ,file.file_scope
                    ,file.file_key
                </when>
                <otherwise>
                    ,1 as is_read_only
                    ,file.file_server_type_id
                    ,file.file_scope
                    ,file.file_key
                </otherwise>
            </choose>
        from <include refid="FileTables"/>
        where <include refid="FileTablesFixFilter"/>
            <if test="nodeId != null">
                and (node.id = #{nodeId})
            </if>
            <if test="path != null">
                and (node.path = #{path})
            </if>
    </select>





























    <sql id="ProjectNodeTables">
        maoding_web_project project
        inner join maoding_web_project_member member on (member.project_id= project.id)
    </sql>

    <sql id="SimpleNodeForProjectNodeTables">
        project.id
        ,project.project_name as name
        ,if(project.id is null,null,11) as type_id
        ,if(project.id is null,null,'项目目录') as type_name
        ,null AS pid
        ,if(project.id is null,null,11) AS p_type_id
        ,if(project.id is null,null,'项目目录') as p_type_name
        ,if(project.id is null,null,concat('/',project.project_name)) as path
        ,if(project.id is null,null,unix_timestamp(ifnull(project.create_date,0))) as create_time_stamp
        ,if(project.id is null,null,date_format(ifnull(project.create_date,0),'%Y-%m-%a %T')) as create_time_text
        ,if(project.id is null,null,unix_timestamp(ifnull(ifnull(project.update_date,project.create_date),0))) as last_modify_time_stamp
        ,if(project.id is null,null,date_format(ifnull(ifnull(project.update_date,project.create_date),0),'%Y-%m-%a %T')) as last_modify_time_text
        ,if(project.id is null,null,ifnull(project.update_by,project.create_by)) as last_modify_user_id
        ,if(project.id is null,null,1) as is_read_only
        ,if(project.id is null,null,0) as file_length
        ,if(project.id is null,null,1) as is_directory
        ,if(project.id is null,null,1) as is_project_directory
        ,if(project.id is null,null,0) as is_task_directory
    </sql>

    <sql id="ProjectNodeTablesFilter">
        (project.pstatus = '0')
        and (member.deleted = 0)
    </sql>

    <select id="getProjectNode" parameterType="com.maoding.Storage.Dto.QueryNodeDTO" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO">
        select <include refid="SimpleNodeForProjectNodeTables"/>
        from <include refid="ProjectNodeTables"/>
        where <include refid="ProjectNodeTablesFilter"/>
            <if test="nodeId != null">
                and (project.id = #{nodeId})
            </if>
            <if test="userId != null">
                and (member.account_id = #{userId})
            </if>
            <if test="path != null">
                and (concat('/',project.project_name) = #{path})
            </if>
        group by project.id
    </select>

    <select id="getProjectNodeByRedundancyPath" parameterType="com.maoding.Storage.Dto.QueryNodeDTO" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO">
        select <include refid="SimpleNodeForProjectNodeTables"/>
        from <include refid="ProjectNodeTables"/>
        where<include refid="ProjectNodeTablesFilter"/>
            <if test="userId != null">
                and (member.account_id = #{userId})
            </if>
            <if test="path != null">
                and (#{path} = concat('/',project.project_name))
            </if>
        group by project.id
        limit 1
    </select>

    <select id="listProjectRootNode" parameterType="com.maoding.Storage.Dto.QueryNodeDTO" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO">
        select <include refid="SimpleNodeForProjectNodeTables"/>
        from <include refid="ProjectNodeTables"/>
        where <include refid="ProjectNodeTablesFilter"/>
            <if test="userId != null">
                and (member.account_id = #{userId})
            </if>
        group by project.id
    </select>

    <select id="countProjectRootNode" parameterType="com.maoding.Storage.Dto.QueryNodeDTO" resultType="java.lang.Integer">
        select count(distinct project.id)
        from <include refid="ProjectNodeTables"/>
        where <include refid="ProjectNodeTablesFilter"/>
            <if test="userId != null">
                and (member.account_id = #{userId})
            </if>
    </select>

    <sql id="TaskNodeTables">
        maoding_web_project_task task
        left join maoding_web_project_task task_parent ON (task_parent.id=task.task_pid)
        left join maoding_web_project_task task_parent2 ON (task_parent2.id=task_parent.task_pid)
        left join maoding_web_project_task task_parent3 ON (task_parent3.id=task_parent2.task_pid)
        inner join maoding_web_project project on ( task.project_id= project.id)
    </sql>

    <sql id="SimpleNodeForTaskNodeTables">
        task.id
        ,task.task_name as name
        ,if(task.id is null,null,12) as type_id
        ,if(task.id is null,null,'任务目录') as type_name
        ,ifnull(task.task_pid,task.project_id) AS pid
        ,if(task.id is null,null,if(task.task_pid is null,11,12)) AS p_type_id
        ,if(task.id is null,null,if(task.task_pid is null,'项目目录','任务目录')) AS p_type_name
        ,if(task.id is null,null,concat('/',project.project_name,'/'
            ,if(task_parent3.id is not null,concat(task_parent3.task_name,'/'),'')
            ,if(task_parent2.id is not null,concat(task_parent2.task_name,'/'),'')
            ,if(task_parent.id is not null,concat(task_parent.task_name,'/'),'')
            ,task.task_name)) as path
        ,if(task.id is null,null,unix_timestamp(ifnull(task.create_date,0))) as create_time_stamp
        ,if(task.id is null,null,date_format(ifnull(task.create_date,0),'%Y-%m-%a %T')) as create_time_text
        ,if(task.id is null,null,unix_timestamp(ifnull(ifnull(task.update_date,task.create_date),0))) as last_modify_time_stamp
        ,if(task.id is null,null,date_format(ifnull(ifnull(task.update_date,task.create_date),0),'%Y-%m-%a %T')) as last_modify_time_text
        ,if(task.id is null,null,ifnull(task.update_by,task.create_by)) as last_modify_user_id
        ,if(task.id is null,null,if(task.task_type=0,0,1)) as is_read_only
        ,if(task.id is null,null,0) as file_length
        ,if(task.id is null,null,1) as is_directory
        ,if(task.id is null,null,0) as is_project_directory
        ,if(task.id is null,null,1) as is_task_directory
    </sql>

    <sql id="TaskNodeTablesFilter">
        (task.task_status = '0')
        and (task.task_type in (0,1,2))
    </sql>

    <select id="getTaskNode" parameterType="com.maoding.Storage.Dto.QueryNodeDTO" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO">
        <if test="path != null">
            select * from (
        </if>
            select <include refid="SimpleNodeForTaskNodeTables"/>
            from <include refid="TaskNodeTables"/>
            where<include refid="TaskNodeTablesFilter"/>
                <if test="nodeId != null">
                    and (task.id = #{nodeId})
                </if>
            group by task.id
        <if test="path != null">
            ) node where node.path = #{path}
        </if>
    </select>

    <select id="getTaskNode2" parameterType="com.maoding.Storage.Dto.QueryNodeDTO" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO">
        select *
        from maoding_task task
        <where>
            <if test="nodeId != null">
                and (task.id = #{nodeId})
            </if>
            <if test="path != null">
                and (task.path = #{path})
            </if>
        </where>
    </select>

    <select id="getTaskNodeByRedundancyPath" parameterType="com.maoding.Storage.Dto.QueryNodeDTO" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO">
        <if test="path != null">
            select * from (
        </if>
            select <include refid="SimpleNodeForTaskNodeTables"/>
            from <include refid="TaskNodeTables"/>
            where<include refid="TaskNodeTablesFilter"/>
            group by task.id
        <if test="path != null">
            ) node
            where
                (#{path} like concat(node.path,'%'))
                and ((#{path} = node.path) or (substring(#{path},char_length(node.path)+1,1) = '/'))
            order by char_length(node.path) DESC
        </if>
        limit 1
    </select>

    <select id="getTaskNodeByRedundancyPath2" parameterType="com.maoding.Storage.Dto.QueryNodeDTO" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO">
        select *
        from maoding_task task
        <where>
            <if test="path != null">
                (#{path} like concat(task.path,'%'))
                and ((#{path} = task.path) or (substring(#{path},char_length(task.path)+1,1) = '/'))

            </if>
        </where>
        order by char_length(task.path) DESC
        limit 1
    </select>

    <select id="listTaskSubNode" parameterType="com.maoding.Storage.Dto.QueryNodeDTO" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO">
        select <include refid="SimpleNodeForTaskNodeTables"/>
        from <include refid="TaskNodeTables"/>
        where <include refid="TaskNodeTablesFilter"/>
            <if test="nodeId != null">
                and (ifnull(task.task_pid,task.project_id) = #{nodeId})
            </if>
        group by task.id
    </select>

    <select id="listTaskSubNode2" parameterType="com.maoding.Storage.Dto.QueryNodeDTO" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO">
        select *
        from maoding_task task
        <where>
            <if test="nodeId != null">
                and (task.pid = #{nodeId})
            </if>
        </where>
    </select>

    <select id="countTaskSubNode" parameterType="com.maoding.Storage.Dto.QueryNodeDTO" resultType="java.lang.Integer">
        <if test="path != null">
            select count(distinct node.id) from (
        </if>
            select <include refid="SimpleNodeForTaskNodeTables"/>
            from <include refid="TaskNodeTables"/>
            where <include refid="TaskNodeTablesFilter"/>
                <if test="nodeId != null">
                    and (ifnull(task.task_pid,task.project_id) = #{nodeId})
                </if>
            group by task.id
        <if test="path != null">
            ) node
            where
                (node.path like concat(#{path},'/%'))
        </if>
    </select>

    <select id="countTaskSubNode2" parameterType="com.maoding.Storage.Dto.QueryNodeDTO" resultType="java.lang.Integer">
        select count(distinct task.id)
        from maoding_task task
        <where>
            <if test="nodeId != null">
                and (task.pid = #{nodeId})
            </if>
            <if test="path != null">
                and (task.path like concat(#{path},'/%'))
            </if>
        </where>
    </select>

    <sql id="StorageNodeTables">
        maoding_storage st
        left join maoding_const cst on (st.type_id = cst.value_id)
        left join maoding_const pcst on (st.pid_type_id = pcst.value_id)
    </sql>

    <sql id="SimpleNodeForStorageNodeTables">
        st.id
        ,st.node_name as name
        ,st.type_id as type_id
        ,cst.content as type_name
        ,st.pid as pid
        ,st.pid_type_id AS p_type_id
        ,pcst.content AS p_type_name
        ,st.path as path
        ,unix_timestamp(ifnull(st.create_time,0)) as create_time_stamp
        ,date_format(ifnull(st.create_time,0),'%Y-%m-%a %T') as create_time_text
        ,unix_timestamp(ifnull(st.last_modify_time,0)) as last_modify_time_stamp
        ,date_format(ifnull(st.last_modify_time,0),'%Y-%m-%a %T') as last_modify_time_text
        ,st.last_modify_user_id as last_modify_user_id
        ,if(st.id is null,null,0) as is_read_only
        ,st.file_length as file_length
        ,if(st.type_id >= 10,1,0) as is_directory
        ,if(st.id is null,null,0) as is_project_directory
        ,if(st.id is null,null,0) as is_task_directory
    </sql>

    <sql id="StorageNodeTablesFilter">
        (st.deleted = '0')
        and (cst.classic_id = 14)
        and (pcst.classic_id = 14)
    </sql>

    <select id="getStorageNode" parameterType="com.maoding.Storage.Dto.QueryNodeDTO" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO">
        select <include refid="SimpleNodeForStorageNodeTables"/>
        from <include refid="StorageNodeTables"/>
        where<include refid="StorageNodeTablesFilter"/>
            <if test="nodeId != null">
                and (st.id = #{nodeId})
            </if>
            <if test="userId != null">
                and (st.last_modify_user_id = #{userId})
            </if>
            <if test="path != null">
                and (st.path = #{path})
            </if>
        group by st.id
    </select>

    <select id="getStorageNodeByRedundancyPath" parameterType="com.maoding.Storage.Dto.QueryNodeDTO" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO">
        select <include refid="SimpleNodeForStorageNodeTables"/>
        from <include refid="StorageNodeTables"/>
        where<include refid="StorageNodeTablesFilter"/>
            <if test="userId != null">
                and (st.last_modify_user_id = #{userId})
            </if>
            <if test="path != null">
                and (#{path} like concat(st.path,'%'))
                and ((#{path} = st.path) or (substring(#{path},char_length(st.path)+1,1) = '/'))
            </if>
        group by st.id
        order by char_length(st.path) DESC
        limit 1
    </select>

    <select id="listStorageRootNode" parameterType="com.maoding.Storage.Dto.QueryNodeDTO" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO">
        select <include refid="SimpleNodeForStorageNodeTables"/>
        from <include refid="StorageNodeTables"/>
        where <include refid="StorageNodeTablesFilter"/>
            and (st.pid is null)
            <if test="userId != null">
                and (st.last_modify_user_id = #{userId})
            </if>
        group by st.id
    </select>

    <select id="countStorageRootNode" parameterType="com.maoding.Storage.Dto.QueryNodeDTO" resultType="java.lang.Integer">
        select count(distinct st.id)
        from <include refid="StorageNodeTables"/>
        where <include refid="StorageNodeTablesFilter"/>
            and (st.pid is null)
            <if test="userId != null">
                and (st.last_modify_user_id = #{userId})
            </if>
    </select>

    <select id="listStorageSubNode" parameterType="com.maoding.Storage.Dto.QueryNodeDTO" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO">
        select <include refid="SimpleNodeForStorageNodeTables"/>
        from <include refid="StorageNodeTables"/>
        where <include refid="StorageNodeTablesFilter"/>
            <if test="nodeId != null">
                and (st.pid = #{nodeId})
            </if>
        group by st.id
    </select>

    <select id="countStorageSubNode" parameterType="com.maoding.Storage.Dto.QueryNodeDTO" resultType="java.lang.Integer">
        select count(distinct st.id)
        from <include refid="StorageNodeTables"/>
        where <include refid="StorageNodeTablesFilter"/>
            <if test="nodeId != null">
                and (st.pid = #{nodeId})
            </if>
    </select>

    <sql id="maoding_company">
        SELECT
            concat('/',if(lvl0_c.company_name is null,'',concat(lvl0_c.company_name,'/')),
                lvl0_a.path) as path,
            0 as deleted,null as last_modify_duty_id,13 as type_id,0 as file_length
            lvl0_a.id,lvl0_a.create_time,lvl0_a.last_modify_time,lvl0_a.last_modify_user_id,lvl0_a.pid,lvl0_a.node_name
        FROM
            (
                SELECT
                    lvl1_b.org_pid AS path_pid,
                    concat(if(lvl1_c.company_name is null,'',concat(lvl1_c.company_name,'/')),
                        lvl1_a.path) as path,
                    lvl1_a.id,lvl1_a.create_time,lvl1_a.last_modify_time,lvl1_a.last_modify_user_id,lvl1_a.pid,lvl1_a.node_name
                FROM
                    (
                        SELECT
                            lvl2_b.org_pid as path_pid,
                            concat(if(lvl2_c.company_name is null,'',concat(lvl2_c.company_name,'/')),lvl2_a.company_name) as path,
                            lvl2_a.id,
                            lvl2_a.create_date as create_time,
                            ifnull(lvl2_a.update_date,lvl2_a.create_date) as last_modify_time,
                            ifnull(lvl2_a.update_by,lvl2_a.create_by) as last_modify_user_id,
                            lvl2_b.org_pid AS pid,
                            lvl2_a.company_name as node_name
                        FROM
                            maoding_web_company lvl2_a
                            LEFT JOIN maoding_web_company_relation lvl2_b ON (lvl2_b.org_id = lvl2_a.id)
                            LEFT JOIN maoding_web_company lvl2_c ON (lvl2_b.org_pid = lvl2_c.id)
                        where lvl2_a.status = '0'
                    ) lvl1_a
                LEFT JOIN maoding_web_company_relation lvl1_b ON (lvl1_b.org_id = lvl1_a.path_pid)
                LEFT JOIN maoding_web_company lvl1_c ON (lvl1_b.org_pid = lvl1_c.id)
            ) lvl0_a
        LEFT JOIN maoding_web_company_relation lvl0_b ON (lvl0_b.org_id = lvl0_a.path_pid)
        LEFT JOIN maoding_web_company lvl0_c ON (lvl0_b.org_pid = lvl0_c.id)
    </sql>

    <sql id="SimpleNodeFieldList">
        ,a.id
        ,a.node_name as name
        ,a.pid as p_node_id
        ,a.type_id
        ,b.content as type_name
        ,unix_timestamp(ifnull(a.create_time,0)) as create_time_stamp
        ,date_format(ifnull(a.create_time,0),'%Y-%m-%a %T') as create_time_text
        ,unix_timestamp(ifnull(a.last_modify_time,0)) as last_modify_time_stamp
        ,date_format(ifnull(a.last_modify_time,0),'%Y-%m-%a %T') as last_modify_time_text
        ,if(a.type_id >= 10,1,0) as is_directory,
        ,a.file_length
    </sql>

    <sql id="CompanyUnion">
        (<include refid="maoding_company"/>) a
        left join maoding_const b on (a.type_id = b.value_id)
    </sql>

    <sql id="FixConditionForCompanyUnion">
        (b.classic_id = 14)
    </sql>

    <select id="listSubNodeOfCompany" parameterType="com.maoding.Storage.Dto.QuerySubNodeDTO" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO">
        select <include refid="SimpleNodeFieldList"/>
        from <include refid="CompanyUnion"/>
            inner join (<include refid="maoding_company"/>) x on (a.pid = x.id)
        where <include refid="FixConditionForCompanyUnion"/>
            <if test="parentPath != null">
                and (x.path = #{parentPath})
            </if>
    </select>

    <select id="listRootNodeOfCompany" parameterType="com.maoding.Storage.Dto.QuerySubNodeDTO" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO">
        select <include refid="SimpleNodeFieldList"/>
        from <include refid="CompanyUnion"/>
        where <include refid="FixConditionForCompanyUnion"/>
            and (a.pid is null)
    </select>

    <sql id="CommonDirFieldList">
        ,a.id
        ,a.node_name as name
        ,a.pid as p_node_id
        ,a.type_id
        ,c.content as type_name
        ,unix_timestamp(ifnull(a.create_time,0)) as create_time_stamp
        ,date_format(ifnull(a.create_time,0),'%Y-%m-%a %T') as create_time_text
        ,unix_timestamp(ifnull(a.last_modify_time,0)) as last_modify_time_stamp
        ,date_format(ifnull(a.last_modify_time,0),'%Y-%m-%a %T') as last_modify_time_text
        ,if(a.type_id >= 3,1,0) as is_directory
    </sql>

    <sql id="SimpleDirUnion">
        maoding_storage a
        inner join maoding_storage_dir b on (a.id = b.id)
        left join maoding_const c on (a.type_id = c.value_id)
    </sql>
    
    <sql id="FixConditionForSimpleDirUnion">
        (a.deleted = 0) and (b.deleted = 0) and (c.classic_id = 14) 
    </sql>

    <sql id="SimpleNodeFieldListForSimpleDirUnion">
        <include refid="CommonDirFieldList"/>
        ,0 as file_length
    </sql>

    <sql id="DirUnion">
        <include refid="SimpleDirUnion"/>
        left join maoding_storage x on (x.path like concat(a.path,'_%'))
        left join maoding_storage_file y on (y.id = x.id)
    </sql>

    <sql id="FixConditionForDirUnion">
        <include refid="FixConditionForSimpleDirUnion"/>
        and (ifnull(x.deleted,0) = 0) and (4 > ifnull(x.type_id,0)) and (ifnull(y.deleted,0) = 0)
    </sql>

    <sql id="DirNodeFieldListForDirUnion">
        <include refid="CommonDirFieldList"/>
        ,sum(ifnull(y.file_length,0)) as file_length
        ,a.path as full_name
        ,b.user_id
        ,b.duty_id
        ,b.org_id
        ,b.project_id
        ,b.task_id
    </sql>


    <sql id="RootNodeFieldList">
        '' as id
        ,null as pid
        ,'/' as node_name
        ,'' as path
        ,3 as type_id
    </sql>

    <update id="updateParentPath" parameterType="java.util.Map">
        update maoding_storage set path=replace(path,#{oldPath},#{newPath}) where path like concat(#{oldPath},'/%')
    </update>

    <select id="listSubNodeByNodeId" resultType="com.maoding.Storage.zeroc.SimpleNodeDTO" parameterType="java.lang.String">
        select <include refid="SimpleNodeFieldListForSimpleDirUnion"/>
        from <include refid="SimpleDirUnion"/>
        where <include refid="FixConditionForSimpleDirUnion"/>
            <choose>
                <when test="_parameter == null">
                    and (a.pid is null)
                </when>
                <otherwise>
                    and (a.pid = #{_parameter})
                </otherwise>
            </choose>
    </select>

    <select id="listAllSubNodeIdByPath" resultType="java.lang.String" parameterType="java.lang.String">
        select a.id
        from maoding_storage a
        where (a.deleted = 0)
            <if test="_parameter != null">
                and (a.path like concat(#{_parameter},'/%'))
            </if>
    </select>

    <select id="getFirstChildTypeIdByPath" resultType="java.lang.Short" parameterType="java.lang.String">
        select a.type_id
        from maoding_storage a
        where (a.deleted = 0)
            <choose>
                <when test="_parameter == null">
                    and (a.pid is null)
                </when>
                <otherwise>
                    and (a.path like concat(#{_parameter},'/%'))
                </otherwise>
            </choose>
        group by a.id
        limit 1
    </select>

    <select id="getFirstChildNodeByPath" resultType="com.maoding.Storage.Entity.StorageEntity" parameterType="java.lang.String">
        select *
        from maoding_storage a
        where (a.deleted = 0)
            <choose>
                <when test="_parameter == null">
                    and (a.pid is null)
                </when>
                <otherwise>
                    and (a.path like concat(#{_parameter},'/%'))
                </otherwise>
            </choose>
        limit 1
    </select>

    <select id="selectByPath" resultType="com.maoding.Storage.Entity.StorageEntity" parameterType="java.lang.String">
        <choose>
            <when test="_parameter == null">
                select <include refid="RootNodeFieldList"/>
            </when>
            <otherwise>
                select *
                from maoding_storage a
                where (a.deleted = 0)
                    and (a.path = #{_parameter})
                group by a.id
                limit 1
            </otherwise>
        </choose>
    </select>

    <select id="selectByRedundancyPath" resultType="com.maoding.Storage.Entity.StorageEntity" parameterType="java.lang.String">
        <choose>
            <when test="_parameter == null">
                select <include refid="RootNodeFieldList"/>
            </when>
            <otherwise>
                select *
                from maoding_storage a
                where (a.deleted = 0)
                    and (#{_parameter} like concat(a.path,'%'))
                    and ((#{_parameter} = concat(a.path,'/',a.node_name))
                        or (substring(#{_parameter},char_length(a.path)+1,1) = '/'))
                order by length(a.path) desc
                limit 1
            </otherwise>
        </choose>
    </select>

    <select id="getDirNodeInfoByPath" resultType="com.maoding.Storage.zeroc.CooperateDirNodeDTO" parameterType="java.lang.String">
        <choose>
            <when test="_parameter == null">
                select <include refid="RootNodeFieldList"/>
            </when>
            <otherwise>
                select <include refid="DirNodeFieldListForDirUnion"/>
                from <include refid="DirUnion"/>
                where <include refid="FixConditionForDirUnion"/>
                    <if test="_parameter != null">
                        and (a.path = #{_parameter})
                    </if>
                group by a.id
                limit 1
            </otherwise>
        </choose>
    </select>

    <select id="getFileNodeInfoByPath" resultType="com.maoding.Storage.zeroc.FileNodeDTO" parameterType="java.lang.String">
        select <include refid="FileNodeFixPtyListForFileTables"/>
        from <include refid="FileTables"/>
        where <include refid="FileTablesFixFilter"/>
            <if test="_parameter != null">
                and (a.path = #{_parameter})
            </if>
        group by a.id
        limit 1
    </select>

    <select id="getDirNodeInfoByNodeId" resultType="com.maoding.Storage.zeroc.CooperateDirNodeDTO" parameterType="java.lang.String">
        select
            a.id as id
            ,a.node_name as name
            ,a.pid as p_node_id
            ,a.detail_id
            ,ifnull(c.full_name,group_concat(if(b.node_name is null,'',concat(b.node_name,'/')) order by length(b.path) separator '')) as full_name
            ,c.user_id
            ,c.duty_id
            ,c.org_id
            ,c.project_id
            ,c.task_id
            ,a.type_id
            ,d.content as type_name
            ,unix_timestamp(a.create_time) as create_time_stamp
            ,date_format(a.create_time,'%Y-%m-%d %T') as create_time_text
        from
            maoding_storage a
            inner join maoding_storage b on (find_in_set(b.id,a.path))
            inner join maoding_storage_dir c on (a.detail_id = c.id)
            inner join maoding_const d on (a.type_id = d.value_id)
        where (a.deleted = 0) and (b.deleted = 0) and (c.deleted = 0)
            and (d.classic_id = 14)
            <if test="_parameter != null">
                and (a.id = #{_parameter})
            </if>
        group by a.id
    </select>

    <select id="getFileNodeInfoByNodeId" resultType="com.maoding.Storage.zeroc.FileNodeDTO" parameterType="java.lang.String">
        select
            c.id
            ,c.file_name as name
            ,a.path as node_id
            ,a.pid as p_node_id
            ,group_concat(if(b.node_name is null,'',concat(b.node_name,'/')) order by length(b.path) separator '') as path_name
            ,c.file_length
            ,c.file_checksum
            ,c.file_version
            ,c.specialty_id
            ,d.content as specialty_name
            ,c.last_modify_address
            ,c.sync_mode_id
            ,e.content as sync_mode_name
            ,c.type_id
            ,f.content as type_name
            ,c.locking
            ,c.creator_duty_id
            ,unix_timestamp(c.create_time) as create_time_stamp
            ,date_format(c.create_time,'%Y-%m-%d %T') as create_time_text
            ,c.last_modify_duty_id
            ,unix_timestamp(c.last_modify_time) as last_modify_time_stamp
            ,date_format(c.last_modify_time,'%Y-%m-%d %T') as last_modify_time_text
        from
            maoding_storage a
            inner join maoding_storage b on (find_in_set(b.id,a.path))
            inner join maoding_storage_file c on (a.detail_id = c.id)
            left join maoding_const d on (c.specialty_id = d.value_id)
            left join maoding_const e on (c.sync_mode_id = e.value_id)
            left join maoding_const f on (c.type_id = f.value_id)
        where (a.deleted = 0) and (b.deleted = 0) and (c.deleted = 0)
            and ((d.classic_id = 18) or (d.classic_id is null))
            and ((e.classic_id = 16) or (e.classic_id is null))
            and ((f.classic_id = 5) or (f.classic_id is null))
            and (a.type_id = 0)
            <if test="_parameter != null">
                and (a.id = #{_parameter})
            </if>
        group by a.id
    </select>

    <select id="listSubDir" resultType="com.maoding.Storage.zeroc.CooperateDirNodeDTO" parameterType="com.maoding.Storage.zeroc.CooperationQueryDTO">
        select
            a.id as id
            ,a.node_name as name
            ,a.pid as p_node_id
            ,a.detail_id
            ,ifnull(c.full_name,group_concat(if(b.node_name is null,'',concat(b.node_name,'/')) order by length(b.path) separator '')) as full_name
            ,c.user_id
            ,c.duty_id
            ,c.org_id
            ,c.project_id
            ,c.task_id
            ,a.type_id
            ,d.content as type_name
            ,unix_timestamp(a.create_time) as create_time_stamp
            ,date_format(a.create_time,'%Y-%m-%d %T') as create_time_text
        from
            maoding_storage a
            inner join maoding_storage b on (find_in_set(b.id,a.path))
            inner join maoding_storage_dir c on (a.detail_id = c.id)
            inner join maoding_const d on (a.type_id = d.value_id)
        where (a.deleted = 0) and (b.deleted = 0) and (c.deleted = 0)
            and (d.classic_id = 14)
            <if test="nodeId != null">
                and (a.id != #{nodeId})
                and find_in_set(#{nodeId},a.path)
            </if>
            <if test="userId != null">
                and (c.last_modify_user_id = #{userId})
            </if>
            <if test="dutyId != null">
                and (c.last_modify_duty_id = #{dutyId})
            </if>
            <if test="orgId != null">
                and (c.org_id = #{orgId})
            </if>
            <if test="projectId != null">
                and (c.project_id = #{projectId})
            </if>
            <if test="taskId != null">
                and (c.task_id = #{taskId})
            </if>
            <if test="level > 0">
                <choose>
                    <when test="nodeId != null">
                        and (((select length(path) from maoding_storage where id=#{nodeId} limit 1) + (33 * #{level}) + 1) > length(a.path))
                    </when>
                    <otherwise>
                        and ((33 * #{level}) > length(a.path))
                    </otherwise>
                </choose>
            </if>
        group by a.id
    </select>

    <select id="listMainFile" resultType="com.maoding.Storage.zeroc.CooperateFileDTO" parameterType="java.util.List">
        select
            c.id
            ,c.file_name as name
            ,a.id as node_id
            ,a.pid as p_node_id
            ,group_concat(if(b.node_name is null,'',concat(b.node_name,'/')) order by length(b.path) separator '') as path_name
            ,c.file_length
            ,c.file_checksum
            ,c.file_version
            ,c.specialty_id
            ,d.content as specialty_name
            ,c.last_modify_address
            ,c.sync_mode_id
            ,e.content as sync_mode_name
            ,c.type_id
            ,f.content as type_name
            ,c.locking
            ,c.creator_duty_id
            ,unix_timestamp(c.create_time) as create_time_stamp
            ,date_format(c.create_time,'%Y-%m-%d %T') as create_time_text
            ,c.last_modify_duty_id
            ,unix_timestamp(c.last_modify_time) as last_modify_time_stamp
            ,date_format(c.last_modify_time,'%Y-%m-%d %T') as last_modify_time_text
        from
            maoding_storage a
            inner join maoding_storage b on (find_in_set(b.id,a.path))
            inner join maoding_storage_file c on (a.detail_id = c.id)
            left join maoding_const d on (c.specialty_id = d.value_id)
            left join maoding_const e on (c.sync_mode_id = e.value_id)
            left join maoding_const f on (c.type_id = f.value_id)
        where (a.deleted = 0) and (b.deleted = 0) and (c.deleted = 0)
            and ((d.classic_id = 18) or (d.classic_id is null))
            and ((e.classic_id = 16) or (e.classic_id is null))
            and ((f.classic_id = 5) or (f.classic_id is null))
            and (a.type_id = 0)
            <if test="list != null and list.size() > 0">
                and a.pid in
                <foreach collection="list" item="dirId" open="(" separator="," close=")">
                    #{dirId}
                </foreach>
            </if>
        group by a.id
    </select>

    <select id="listRelatedFile" resultType="com.maoding.Storage.zeroc.FileNodeDTO" parameterType="java.lang.String">
        select
            d.id
            ,d.file_name as name
            ,b.id as node_id
            ,b.pid as p_node_id
            ,group_concat(if(b.node_name is null,'',concat(b.node_name,'/')) order by length(b.path) separator '') as path_name
            ,d.file_length
            ,d.file_checksum
            ,d.file_version
            ,d.specialty_id
            ,e.content as specialty_name
            ,d.last_modify_address
            ,d.sync_mode_id
            ,f.content as sync_mode_name
            ,d.type_id
            ,g.content as type_name
            ,d.locking
            ,d.creator_duty_id
            ,unix_timestamp(d.create_time) as create_time_stamp
            ,date_format(d.create_time,'%Y-%m-%d %T') as create_time_text
            ,d.last_modify_duty_id
            ,unix_timestamp(d.last_modify_time) as last_modify_time_stamp
            ,date_format(d.last_modify_time,'%Y-%m-%d %T') as last_modify_time_text
        from
            maoding_storage a
            inner join maoding_storage b on (a.detail_id = b.id)
            inner join maoding_storage c on (find_in_set(c.id,b.path))
            inner join maoding_storage_file d on (b.detail_id = d.id)
            left join maoding_const e on (d.specialty_id = e.value_id)
            left join maoding_const f on (d.sync_mode_id = f.value_id)
            left join maoding_const g on (d.type_id = g.value_id)
        where (a.deleted = 0) and (b.deleted = 0) and (c.deleted = 0) and (d.deleted = 0)
            and ((e.classic_id = 18) or (e.classic_id is null))
            and ((f.classic_id = 16) or (f.classic_id is null))
            and ((g.classic_id = 5) or (g.classic_id is null))
            and (a.type_id = 1)
            <if test="_parameter != null">
                and a.pid = #{_parameter}
            </if>
        group by b.id
    </select>

    <select id="listVersion" resultType="com.maoding.Storage.zeroc.FileVersionDTO" parameterType="java.lang.String">
        select
            c.id
            ,b.id as node_id
            ,c.file_version
            ,c.last_modify_address
            ,c.locking
            ,unix_timestamp(c.create_time) as create_time_stamp
            ,date_format(c.create_time,'%Y-%m-%d %T') as create_time_text
            ,c.last_modify_duty_id
            ,unix_timestamp(c.last_modify_time) as last_modify_time_stamp
            ,date_format(c.last_modify_time,'%Y-%m-%d %T') as last_modify_time_text
        from
            maoding_storage a
            inner join maoding_storage b on (find_in_set(b.id,a.path))
            inner join maoding_storage_file c on (b.detail_id = c.id)
        where (a.deleted = 0) and (b.deleted = 0) and (c.deleted = 0)
            and ((b.type_id = 0) or (b.type_id = 2))
            <if test="_parameter != null">
                and a.id = #{_parameter}
            </if>
        group by b.id
    </select>

    <select id="selectByPIdAndName" resultType="com.maoding.Storage.Entity.StorageEntity" parameterType="com.maoding.Storage.Dto.QueryByPidAndNameDTO">
        select * from maoding_storage a
        where (a.deleted = 0)
            <choose>
                <when test="pid == null">
                    and (a.pid is null)
                </when>
                <otherwise>
                    and (a.pid = #{pid})
                </otherwise>
            </choose>
            <if test="name != null">
                and (a.node_name = #{name})
            </if>
        limit 1
    </select>
    <select id="listFileByScopeAndKey" resultType="com.maoding.Storage.zeroc.CooperateFileDTO" parameterType="com.maoding.Storage.zeroc.CooperationQueryDTO">
      select
        a.id
        ,a.file_name as name
        ,b.id as node_id
        ,b.pid as p_node_id
        ,b.node_name
        ,group_concat(if(c.node_name is null,'',concat(c.node_name,'/')) order by length(c.path) separator '') as path_name
        ,a.file_length
        ,a.file_checksum
        ,a.file_version
        ,a.specialty_id
        ,a.last_modify_address
        ,a.sync_mode_id as sync_mode_id
        ,a.type_id
        ,a.locking
        ,a.creator_duty_id
        ,a.create_time
        ,date_format(a.create_time,'%Y-%m-%a %T') as create_time_text
        ,a.last_modify_duty_id
        ,a.last_modify_time
        ,date_format(a.create_time,'%Y-%m-%a %T') as last_modify_time_text
      from
          maoding_storage_file a
          left join maoding_storage b on (b.detail_id = a.id)
          left join maoding_storage c on (find_in_set(c.id,b.path))
      where (a.deleted = 0)
          <if test="scope != null">
              and (a.file_scope = #{scope})
          </if>
          <if test="key != null">
              and (a.file_key like concat('%',#{key}))
          </if>
      group by a.id
    </select>

</mapper>
