<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maoding.Storage.Dao.StorageFileDao" >
    <select id="listFileEntityById" resultType="com.maoding.Storage.Entity.StorageFileEntity" parameterType="java.util.List">
        select * from maoding_storage_file file
        <where>
            id in
            <foreach collection="list" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </select>

    <select id="listFileEntityByPath" resultType="com.maoding.Storage.Entity.StorageFileEntity" parameterType="java.util.List">
        select file.*
        from maoding_storage_file file
            inner join maoding_storage node on (file.id = node.id)
        where
            (file.deleted = 0)
            <if test="_parameter != null">
                and (node.path like concat(#{_parameter},'/%'))
            </if>
    </select>

</mapper>
