<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maoding.Task.Dao.TaskDao" >
    <select id="listTask" resultType="com.maoding.Task.zeroc.TaskDTO" parameterType="com.maoding.Task.zeroc.QueryTaskDTO">
        select * from maoding_task task
    </select>
</mapper>
